
<h1>Welcome to SportsWatcherss</h1>
<p>SportsWatcherss is a sports online marketplace that allows you to sell and buy items. 
 This idea started after searching and searching for a way to mix my passion for sports and technology, in which I initially created a blog.
After doing so, I realized that there are a ton of great small businesses with great products, but no central place to do so. 
While there are other options available, their products can easily get lost in the shuffle in the big market. 
It was at that moment that I decided to create an online marketplace that the sports industry needs. Whether selling goods or purhcasing, SportsWatcherss will go above and beyond to ensure that users have the best 
online shopping expierence possible.Thanks for visiting our site; there is more to come!
</p>

