<div navabar = "center"> 
<h2> Feedback </h2>
<p> Thanks for checking out our site. Please provide feedback about our site. 
<br>The link is: https://www.surveymonkey.com/r/JJW5YNY
<br>
Thanks again!
</p>
</div>